/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #000;
  color: #fff;
}


/** Header Start */
.header {
  width: 100%;
  height: 100vh;
  padding: 10px 8%;
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/header-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header nav img {
  width: 150px;
  cursor: pointer;
}

.header nav .menu button {
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 7px 20px;
  margin-left: 8px;
  cursor: pointer;
}

.header nav .menu .btnLang i {
  color: #fff;
}

.header nav .menu .btnLang img {
  width: 12px;
}

.header nav .menu .btnLang {
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.header nav .menu .btnSign {
  background: #E50914;
  color: #fff;
}

.header section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header section h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
}

.header section h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}

.header section p {
  font-size: 18px;
}

.mailInputs {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  margin-top: 30px;
  overflow: hidden;
}

.mailInputs input {
  flex: 1;
  /*? flex:1; input ile buttonu sag ve sola yaslamak için kullanıldı. */
  border: none;
  outline: none;
  margin-left: 20px;
}

.mailInputs button {
  background: #E50914;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}



/** Content Start */
.content {
  padding: 50px 12%;
  font-size: 22px;

}

.content .row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.content .row .textBox {
  flex-basis: 50%;
  margin-bottom: 20px;

}

.content .row .imgBox {
  flex-basis: 50%;
  margin-bottom: 20px;
  /* todo background-color: chartreuse; */
}

.content .row .imgBox img {
  display: block;
  width: 90%;
  margin: auto;
  /*? Bu satırdaki margin:auto değeri .imgBox içerisindeki img etiketini kapsayıcında ortalamaya yarıyor. */
  /*? Kastedilen işlemi anlamak için yukarıdaki background-color:chartreuse; satırını yorumdan çıkarabilirsiniz.  */
}

.content .textBox h1 {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 20px;
}


/** Faq Start */
.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
}

.faq h2 {
  font-size: 40px;
  font-weight: 500;
}

.faq .accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.faq .accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

.accordion li label {
  display: flex;
  align-items: center;
  background-color: royalblue;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

.accordion li label::after {
  content: '+';
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform .5s;
}

.accordion li input[type="radio"] {
  display: none;
}

.accordion li .openAccordion {
  background: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s, padding .5s;
}

.accordion li input[type="radio"]:checked+label+.openAccordion {
  max-height: 600px;
  padding: 30px 20px;
  text-indent: 12px;
}

.accordion li input[type="radio"]:checked+label::after {
  transform: rotate(135deg);
}

.faq .mailInputs {
  max-width: 600px;
  margin: 20px auto 60px;
}

.faq small {
  font-size: 13px;
}